:root {
    --dark-bg: #0f0e0e;
    --black-bg: #000000;
    --cool-blue: #007adf;
    --cool-red: #c4333c;
    --grey-black: #1f1f1f;
    --grey-blue: #839c98;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 75px;
    background-color: #0f0e0e;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-bg);
    color: var(--grey-blue);
    height: 15rem;
}

.start-game {
    position: fixed;
    width: 16rem;
    height: 6rem;
    top: 30%;
    left: 50%;
    margin-top: -3rem;
    margin-left: -8rem;
    font-size: 1.8rem;
    border: .2rem solid var(--black-bg);
    background-color: var(--grey-black);
    color: var(--grey-blue);
    border-radius: 30px;
}

#hide {
    top: 0%;
    filter: opacity(0%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    transition: filter .2s;
}

.player-icon>img {
    width: 10rem;
}

.player-one {
    filter: invert(30%) sepia(94%) saturate(1328%) hue-rotate(330deg) brightness(68%);
}

.player-two {
    filter: invert(31%) sepia(81%) saturate(2083%) hue-rotate(190deg) brightness(82%) contrast(101%);
}

.not-my-turn {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0) brightness(0%) contrast(0%) opacity(90%); /* zero'd out properties added for transition effect*/
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    border: .2rem solid var(--grey-black);
    background-color: var(--black-bg);
    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 38rem;
    height: 38rem;
    align-items: center;
    padding: 2.5rem;
    margin: 5rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.row>div {
    border: .2rem solid var(--grey-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:hover {
    cursor: crosshair;
    
}

#p1, #p2, #p3 {
    border-top: none;
}
#p1, #p4, #p7 {
    border-left: none;
}
#p3, #p6, #p9 {
    border-right: none;
}
#p7, #p8, #p9 {
    border-bottom: none;
}

.x {
    color: var(--cool-red);
}

.o {
    color: var(--cool-blue);
}