

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 75px;
    background-color: rgb(15, 14, 14);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board {
    border: .2rem solid rgb(31, 31, 31);
    background-color: black;
    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 38rem;
    height: 38rem;
    align-items: center;
    padding: 2.5rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.row>div {
    border: .2rem solid rgb(70, 90, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1, #p2, #p3 {
    border-top: none;
}
#p1, #p4, #p7 {
    border-left: none;
}
#p3, #p6, #p9 {
    border-right: none;
}
#p7, #p8, #p9 {
    border-bottom: none;
}

.x {
    color: #c4333c;
}

.o {
    color: #007adf;
}